Makefile
*.moc
*.obj
testtools/qrc_testtools.cpp
lib
bin
generated
.qmake.cache
CMakeLists.txt.user
_moc
_obj
.license.accepted
CPackConfig.cmake
autogen.pyc
configure.bat
configure.sh

/include

/examples/holidays_gui/qrc_resources.cpp
/examples/holidays_gui/wsdl_holidays.cpp
/examples/holidays_gui/wsdl_holidays.h
/examples/holidays_wsdl/wsdl_holidays.cpp
/examples/holidays_wsdl/wsdl_holidays.h

/unittests/*/wsdl_*.cpp
/unittests/*/wsdl_*.h
/unittests/basic/basic
/unittests/builtinhttp/builtinhttp
/unittests/dwservice_12_wsdl/dwservice_12_wsdl
/unittests/dwservice_combined_wsdl/dwservice_combined_wsdl
/unittests/dwservice_wsdl/dwservice_wsdl
/unittests/groupwise_wsdl/groupwise_wsdl
/unittests/ihc_wsdl/ihc_wsdl
/unittests/issue1/issue1
/unittests/issue4/issue4
/unittests/issue38/issue38
/unittests/issue42/issue42
/unittests/logbook_wsdl/logbook_wsdl
/unittests/messagereader/messagereader
/unittests/msexchange_wsdl/msexchange_wsdl
/unittests/salesforce_wsdl/salesforce_wsdl
/unittests/servertest/servertest
/unittests/soap12/soap12
/unittests/sugar_wsdl/sugar_wsdl
/unittests/import_definition/import_definition
/unittests/tech3356_wsdl/tech3356_wsdl
/unittests/webcalls/webcalls
/unittests/webcalls_wsdl/webcalls_wsdl
/unittests/wsdl_document/wsdl_document
/unittests/wsdl_rpc-server/wsdl_rpc-server
/unittests/unqualified_formdefault/unqualified_formdefault
/unittests/wsdl_rpc/wsdl_rpc
/unittests/enum_escape/enum_escape
